<!doctype html>
<html lang="<%= I18n.locale %>">

  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= t '.title' %></title>

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', :media => "all" %>
    <%= yield :styles %>

    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <%= yield :js %>
  </head>

  <body>
    <section role="header">
    </section>

    <section role="main">
      <%= yield %>
    </section>

    <section role="footer">
    </section>
  </body>
</html>
